USE [master]
GO
/****** Object:  Database [OrderEntryGit]    Script Date: 9-11-2016 18:27:01 ******/
CREATE DATABASE [OrderEntryGit]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderEntryGit', FILENAME = N'C:\SQLData\OrderEntryGit.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderEntryGit_log', FILENAME = N'C:\SQLData\OrderEntryGit_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderEntryGit].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderEntryGit]
GO
USE [OrderEntryGit]
GO
/****** Object:  Table [dbo].[CodeMast]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeMast](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Type] [char](10) NOT NULL,
	[Code] [char](10) NOT NULL,
	[Description] [char](30) NOT NULL,
 CONSTRAINT [CodeMast001_PK] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CodeType]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodeType](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Type] [char](10) NOT NULL,
	[Description] [char](30) NOT NULL,
	[Comment] [text] NOT NULL,
 CONSTRAINT [CodeType001_PK] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Number] [int] NOT NULL,
	[Name] [char](30) NOT NULL,
	[Address] [char](30) NOT NULL,
	[City] [char](14) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [char](10) NOT NULL,
	[Phone_Number] [char](20) NOT NULL,
	[Fax_Number] [char](20) NOT NULL,
	[EMail_Address] [char](30) NOT NULL,
	[Credit_Limit] [numeric](8, 2) NOT NULL,
	[Purchases] [numeric](8, 2) NOT NULL,
	[Balance] [numeric](8, 2) NOT NULL,
	[Comments] [text] NOT NULL,
	[Status] [char](1) NOT NULL,
	[BSN] [char](10) NOT NULL,
 CONSTRAINT [Customer001_PK] PRIMARY KEY CLUSTERED 
(
	[Customer_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invt]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invt](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [char](10) NOT NULL,
	[Description] [char](35) NOT NULL,
	[Vendor_ID] [int] NOT NULL,
	[Vendor_Part_ID] [char](15) NOT NULL,
	[Unit_Price] [numeric](8, 2) NOT NULL,
	[On_Hand] [int] NOT NULL,
 CONSTRAINT [Invt001_PK] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDtl]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDtl](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Order_Number] [int] NOT NULL,
	[Detail_Number] [smallint] NOT NULL,
	[Item_ID] [char](10) NOT NULL,
	[Qty_Ordered] [int] NOT NULL,
	[Price] [numeric](8, 2) NOT NULL,
	[Extended_Price] [numeric](10, 2) NOT NULL,
 CONSTRAINT [OrderDtl001_PK] PRIMARY KEY CLUSTERED 
(
	[Order_Number] ASC,
	[Detail_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderHea]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHea](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[Order_Number] [int] NOT NULL,
	[Customer_Number] [int] NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Terms] [char](12) NOT NULL,
	[Ship_Via] [char](12) NOT NULL,
	[Ordered_By] [char](12) NOT NULL,
	[SalesPerson_ID] [char](4) NOT NULL,
	[Order_Total] [numeric](10, 2) NOT NULL,
	[Last_Detail_Num] [smallint] NOT NULL,
 CONSTRAINT [OrderHea001_PK] PRIMARY KEY CLUSTERED 
(
	[Order_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdSys]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdSys](
	[Order_Number] [int] NOT NULL,
	[Cust_Number] [int] NOT NULL,
	[Vendor_Number] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SalesP]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesP](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[ID] [char](4) NOT NULL,
	[Name] [char](25) NOT NULL,
 CONSTRAINT [SalesP001_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [char](10) NOT NULL,
	[Password] [char](10) NOT NULL,
	[Rights] [smallint] NOT NULL,
	[Full_Name] [char](30) NOT NULL,
	[Last_Login] [datetime] NOT NULL,
 CONSTRAINT [Users001_PK] PRIMARY KEY CLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 9-11-2016 18:27:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[RECNUM] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NOT NULL,
	[Name] [char](30) NOT NULL,
	[Address] [char](30) NOT NULL,
	[City] [char](14) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [char](10) NOT NULL,
	[Phone_Number] [char](20) NOT NULL,
	[Fax_Number] [char](20) NOT NULL,
 CONSTRAINT [Vendor001_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [CodeMast000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CodeMast000] ON [dbo].[CodeMast]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CodeType000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [CodeType000] ON [dbo].[CodeType]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Customer000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Customer000] ON [dbo].[Customer]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Customer002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Customer002] ON [dbo].[Customer]
(
	[Name] ASC,
	[Customer_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Customer003]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Customer003] ON [dbo].[Customer]
(
	[Balance] ASC,
	[Customer_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Invt000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Invt000] ON [dbo].[Invt]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Invt002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Invt002] ON [dbo].[Invt]
(
	[Vendor_ID] ASC,
	[Vendor_Part_ID] ASC,
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Invt003]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Invt003] ON [dbo].[Invt]
(
	[Description] ASC,
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OrderDtl000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [OrderDtl000] ON [dbo].[OrderDtl]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OrderHea000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [OrderHea000] ON [dbo].[OrderHea]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OrderHea002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [OrderHea002] ON [dbo].[OrderHea]
(
	[Customer_Number] ASC,
	[Order_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OrderHea003]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [OrderHea003] ON [dbo].[OrderHea]
(
	[Order_Date] ASC,
	[Order_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SalesP000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [SalesP000] ON [dbo].[SalesP]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SalesP002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [SalesP002] ON [dbo].[SalesP]
(
	[Name] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Users000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Users000] ON [dbo].[Users]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Users002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Users002] ON [dbo].[Users]
(
	[LoginName] ASC,
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Vendor000]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Vendor000] ON [dbo].[Vendor]
(
	[RECNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Vendor002]    Script Date: 9-11-2016 18:27:01 ******/
CREATE UNIQUE NONCLUSTERED INDEX [Vendor002] ON [dbo].[Vendor]
(
	[Name] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CodeMast] ADD  DEFAULT ('') FOR [Type]
GO
ALTER TABLE [dbo].[CodeMast] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[CodeMast] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[CodeType] ADD  DEFAULT ('') FOR [Type]
GO
ALTER TABLE [dbo].[CodeType] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[CodeType] ADD  DEFAULT ('') FOR [Comment]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Customer_Number]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [City]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [State]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Zip]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Phone_Number]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Fax_Number]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [EMail_Address]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Credit_Limit]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Purchases]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Comments]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('') FOR [BSN]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ('') FOR [Item_ID]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ((0)) FOR [Vendor_ID]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ('') FOR [Vendor_Part_ID]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ((0)) FOR [Unit_Price]
GO
ALTER TABLE [dbo].[Invt] ADD  DEFAULT ((0)) FOR [On_Hand]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ((0)) FOR [Order_Number]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ((0)) FOR [Detail_Number]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ('') FOR [Item_ID]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ((0)) FOR [Qty_Ordered]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[OrderDtl] ADD  DEFAULT ((0)) FOR [Extended_Price]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ((0)) FOR [Order_Number]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ((0)) FOR [Customer_Number]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ('1753-01-01') FOR [Order_Date]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ('') FOR [Terms]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ('') FOR [Ship_Via]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ('') FOR [Ordered_By]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ('') FOR [SalesPerson_ID]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ((0)) FOR [Order_Total]
GO
ALTER TABLE [dbo].[OrderHea] ADD  DEFAULT ((0)) FOR [Last_Detail_Num]
GO
ALTER TABLE [dbo].[OrdSys] ADD  DEFAULT ((0)) FOR [Order_Number]
GO
ALTER TABLE [dbo].[OrdSys] ADD  DEFAULT ((0)) FOR [Cust_Number]
GO
ALTER TABLE [dbo].[OrdSys] ADD  DEFAULT ((0)) FOR [Vendor_Number]
GO
ALTER TABLE [dbo].[SalesP] ADD  DEFAULT ('') FOR [ID]
GO
ALTER TABLE [dbo].[SalesP] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [LoginName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Password]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Rights]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [Full_Name]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('1753-01-01') FOR [Last_Login]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ((0)) FOR [ID]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Address]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [City]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [State]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Zip]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Phone_Number]
GO
ALTER TABLE [dbo].[Vendor] ADD  DEFAULT ('') FOR [Fax_Number]
GO
USE [master]
GO
